In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import sys

In [9]:
def same_timeseries(ts1, ts2):
    """
    return True if timeseries ts1 == timeseries ts2.
    :param ts1: pandas Dataframe object
    :param ts2: pandas Dataframe object
    :return: True if ts1 and ts2 are at least identical (Allowed Difference - 0.00001).
    """
    if len(ts1) == len(ts2):
        return (sum(ts1.values - ts2.values) < 10**-5).all()
    else:
        return False

In [10]:
##Load data
bbg_df = pd.read_csv('data/bbg_data_final.csv', low_memory = False)
quandl_df = pd.read_csv('data/quandl_data_final.csv', low_memory = False)
dr_df = pd.read_csv('data/dr.csv', low_memory = False)

In [11]:
bbg_df.head()

,Unnamed: 0,OLT,OLT.1,QTK,QTK.1,HFA,HFA.1,XTE,XTE.1,XPQ,...,TGZ,TGZ.1,HCS,HCS.1,ABI,ABI.1,BHF,BHF.1,WBX,WBX.1
0,date,price,total_return_price,price,total_return_price,price,total_return_price,price,total_return_price,price,...,price,total_return_price,price,total_return_price,price,total_return_price,price,total_return_price,price,total_return_price
1,1990-01-02,9.8312,9.8312,NaN,NaN,NaN,NaN,NaN,NaN,5.4069,...,NaN,NaN,6.8574,6.8574,NaN,NaN,NaN,NaN,8.8918,8.8918
2,1990-01-03,9.7359,9.7359,NaN,NaN,NaN,NaN,NaN,NaN,5.2847,...,17.257,17.257,6.8283,6.8283,NaN,NaN,152.355,152.355,9.0769,9.0769
3,1990-01-04,9.8919,9.8919,NaN,NaN,NaN,NaN,NaN,NaN,5.4069,...,17.373,17.373,6.8602,6.8602,NaN,NaN,149.293,149.293,9.36,9.36
4,1990-01-05,9.8399,9.8399,NaN,NaN,NaN,NaN,NaN,NaN,5.3505,...,17.14,17.14,6.8048,6.8048,NaN,NaN,148.336,148.336,9.037,9.037

In [ ]:
def find_differences(bbg_df, quandl_df, csv_file_path=None):
    """
    prints or saves to csv the differences between two timeseries files.
    :param bbg_df: pandas Dataframe object
    :param quandl_df: pandas Dataframe object
    :param csv_file_path: path to save the output csv file (default=None)
    If csv_file_path is not None, will save the output to a csv file.
    :return: None.
    for each ticker find the start date of data from both sources,
    and prints True/False if prices series match since the common start date.
    Compare (BBG 'price' to quandl 'close price')
    CSV output example:
    
        Ticker, Quantle Start Date, BBG Start Date, Match since common start date?
        DOC US Equity ,2000-01-01, 1990-01-01, True
        ABO US Equity ,1999-01-01, 1990-01-01, False
        ...
        ...
        ...
        ABO US Equity ,1999-01-01, 1990-01-01, False
    
    """
    
    
    result = ""
    
    # save csv if file path was specified:
    if csv_file_path:
        csv_file = open(csv_file_path, 'w')
        csv_file.write(result)
        csv_file.close()
    
    print result

In [ ]:
if __name__=="__main__":
    bbg_df = pd.read_csv("bbg_data2.csv", header=[0,1], index_col=0)
    quandl_df = pd.read_csv("quantl_data2.csv", header=[0,1], index_col=0)
    find_differences(bbg_df, quandl_df, "output.csv")

In [ ]:
def plot_dr_ratio(portfolio_index, dr):
    """
    :param portfolio_index: pandas Dataframe object of the portfolio index
    :param dr: pandas Dataframe object of the DR ratio
    """
    
    # do your magic here
    plt.show()

In [ ]:
def rolling_dr_ratio(df, rolling_window_size=200):
    """
    calculates and plots the dr ratio.
    
    :param df: the dataframe contains the daily total return price change, the weights and the portfolio index.
    :param rolling_window_size: default to 200 days.
    :return: None.
    """
    # some tests

    # calculate the rolling DR ratio
    # dr = ...

    # plot index and the rolling dr
    plot_dr_ratio(df["Portfolio_Index"], dr)

In [ ]:
if __name__=="__main__":
    df = pd.read_csv("dr.csv", index_col=0, header=[0,1], parse_dates=0)
    rolling_dr_ratio(df)