In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import sys

In [13]:
def same_timeseries(ts1, ts2):
    """
    return True if timeseries ts1 == timeseries ts2.
    :param ts1: pandas Dataframe object
    :param ts2: pandas Dataframe object
    :return: True if ts1 and ts2 are at least identical (Allowed Difference - 0.00001).
    """
    if len(ts1) == len(ts2):
        return (sum(ts1.values - ts2.values) < 10**-5).all()
    else:
        return False

In [30]:
##Load data
bbg_df = pd.read_csv('data/bbg_data_final.csv', header=[0,1], index_col=0, low_memory = False)
quandl_df = pd.read_csv('data/quandl_data_final.csv', header=[0,1], index_col=0, low_memory = False)
dr_df = pd.read_csv('data/dr.csv', header=[0,1], index_col=0, low_memory = False)
match_df = pd.read_csv('data/match_final.csv', low_memory = False)

In [31]:
bbg_df.head()

               OLT                      QTK                      HFA  \
date         price total_return_price price total_return_price price
1990-01-02  9.8312             9.8312   NaN                NaN   NaN
1990-01-03  9.7359             9.7359   NaN                NaN   NaN
1990-01-04  9.8919             9.8919   NaN                NaN   NaN
1990-01-05  9.8399             9.8399   NaN                NaN   NaN
1990-01-08  9.6320             9.6320   NaN                NaN   NaN

                                XTE                        XPQ  \
date       total_return_price price total_return_price   price
1990-01-02                NaN   NaN                NaN  5.4069
1990-01-03                NaN   NaN                NaN  5.2847
1990-01-04                NaN   NaN                NaN  5.4069
1990-01-05                NaN   NaN                NaN  5.3505
1990-01-08                NaN   NaN                NaN  5.2376

                                     ...             TGZ                     \
date       total_return_price        ...           price total_return_price
1990-01-02             5.4069        ...             NaN                NaN
1990-01-03             5.2847        ...          17.257             17.257
1990-01-04             5.4069        ...          17.373             17.373
1990-01-05             5.3505        ...          17.140             17.140
1990-01-08             5.2376        ...          17.094             17.094

               HCS                      ABI                         BHF  \
date         price total_return_price price total_return_price    price
1990-01-02  6.8574             6.8574   NaN                NaN      NaN
1990-01-03  6.8283             6.8283   NaN                NaN  152.355
1990-01-04  6.8602             6.8602   NaN                NaN  149.293
1990-01-05  6.8048             6.8048   NaN                NaN  148.336
1990-01-08  6.7618             6.7618   NaN                NaN  146.422

                                  WBX
date       total_return_price   price total_return_price
1990-01-02                NaN  8.8918             8.8918
1990-01-03            152.355  9.0769             9.0769
1990-01-04            149.293  9.3600             9.3600
1990-01-05            148.336  9.0370             9.0370
1990-01-08            146.422  8.8918             8.8918

[5 rows x 122 columns]

In [32]:
quandl_df.head()

            AUI US Equity                                                  \
           Adjusted Close    Close     High      Low      Open     Volume
Date
2000-01-03        3.83249  3.85118  3.62684  3.64553  374500.0  137.99963
2000-01-04        3.61748  3.67358  3.51467  3.67358  321000.0  139.06131
2000-01-05        3.50531  3.68291  3.49598  3.61748  289900.0  136.93794
2000-01-06        3.63619  3.63619  3.46793  3.47728  247500.0  131.63074
2000-01-07        3.56141  3.60815  3.49598  3.60815  351600.0  136.58445

           SFM US Equity                     ...       VVE US Equity         \
                    Open High Low Close      ...                 Low  Close
Date                                         ...
2000-01-03           NaN  NaN NaN   NaN      ...               784.0  789.0
2000-01-04           NaN  NaN NaN   NaN      ...               733.0  733.0
2000-01-05           NaN  NaN NaN   NaN      ...               704.0  708.0
2000-01-06           NaN  NaN NaN   NaN      ...               696.5  735.0
2000-01-07           NaN  NaN NaN   NaN      ...               722.0  750.0

                                     IAL US Equity                          \
               Volume Adjusted Close          Open    High     Low   Close
Date
2000-01-03  1188000.0         62.548        74.968  78.430  69.750  69.750
2000-01-04  1908700.0         58.108        72.333  72.333  60.966  64.841
2000-01-05  1399800.0         56.127        62.000  64.583  58.900  59.416
2000-01-06   980000.0         58.267        60.863  62.516  59.726  60.346
2000-01-07  1082600.0         59.456        60.346  61.793  57.401  61.793


                Volume Adjusted Close
Date
2000-01-03  14081000.0         31.883
2000-01-04  39690500.0         29.639
2000-01-05  23942100.0         27.160
2000-01-06  19621800.0         27.585
2000-01-07  40158600.0         28.246

[5 rows x 281 columns]

In [28]:
bbg_df.columns

MultiIndex(levels=[['ABI', 'BHF', 'BJL', 'BMQ', 'BRH', 'DKJ', 'DLI', 'DOG', 'EQK', 'ETL', 'ETS', 'GAU', 'GBF', 'HAH', 'HCS', 'HFA', 'HHL', 'HPO', 'HTX', 'HWQ', 'IEJ', 'IPQ', 'JAU', 'JYR', 'KVW', 'LNB', 'LUI', 'MAJ', 'MWV', 'NAB', 'NOK', 'OLT', 'OMY', 'PTT', 'PXR', 'QTK', 'QXW', 'RKS', 'RUO', 'SJC', 'SYZ', 'TGZ', 'TLA', 'TTZ', 'UBD', 'VUB', 'VZF', 'WBX', 'WLN', 'WOK', 'XKK', 'XPQ', 'XTE', 'XUO', 'YCT', 'YIA', 'YTW', 'YUQ', 'ZAE', 'ZQM', 'ZTV'], ['price', 'total_return_price']],
           labels=[[31, 31, 35, 35, 15, 15, 52, 52, 51, 51, 6, 6, 3, 3, 11, 11, 40, 40, 33, 33, 30, 30, 4, 4, 25, 25, 2, 2, 12, 12, 24, 24, 29, 29, 17, 17, 34, 34, 49, 49, 46, 46, 55, 55, 32, 32, 8, 8, 45, 45, 7, 7, 50, 50, 53, 53, 28, 28, 42, 42, 21, 21, 43, 43, 39, 39, 19, 19, 59, 59, 13, 13, 5, 5, 23, 23, 22, 22, 60, 60, 36, 36, 44, 44, 10, 10, 26, 26, 9, 9, 38, 38, 27, 27, 54, 54, 18, 18, 16, 16, 57, 57, 48, 48, 20, 20, 58, 58, 37, 37, 56, 56, 41, 41, 14, 14, 0, 0, 1, 1, 47, 47], [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]],
           names=[None, 'date'])

In [29]:
quandl_df.columns

MultiIndex(levels=[['AGE US Equity', 'AUI US Equity', 'BIM US Equity', 'BKQ US Equity', 'BPY US Equity', 'BYX US Equity', 'CDC US Equity', 'CIU US Equity', 'DGK US Equity', 'DOC US Equity', 'DPU US Equity', 'ECU US Equity', 'EHO US Equity', 'FZP US Equity', 'HMO US Equity', 'IAL US Equity', 'ILA US Equity', 'IQD US Equity', 'IRF US Equity', 'IWN US Equity', 'IXM US Equity', 'KIP US Equity', 'KOV US Equity', 'LOF US Equity', 'LSU US Equity', 'MHX US Equity', 'MHY US Equity', 'MIE US Equity', 'NIN US Equity', 'NLJ US Equity', 'OJV US Equity', 'PBZ US Equity', 'PMP US Equity', 'RTM US Equity', 'SFM US Equity', 'SQO US Equity', 'SWX US Equity', 'TCH US Equity', 'TZV US Equity', 'UBK US Equity', 'UWG US Equity', 'VPQ US Equity', 'VVE US Equity', 'VXL US Equity', 'WQE US Equity', 'WVG US Equity', 'YDY US Equity', 'YHR US Equity', 'YTV US Equity', 'ZAS US Equity'], ['Adjusted Close', 'Close', 'High', 'Low', 'Open', 'Volume']],
           labels=[[1, 1, 1, 1, 1, 1, 34, 34, 34, 34, 34, 27, 27, 27, 27, 27, 27, 17, 17, 17, 17, 17, 17, 44, 44, 44, 44, 44, 45, 45, 45, 45, 45, 45, 13, 13, 13, 13, 13, 35, 35, 35, 35, 35, 35, 0, 0, 0, 0, 0, 0, 20, 20, 20, 20, 20, 20, 3, 3, 3, 3, 3, 3, 12, 12, 12, 12, 12, 12, 9, 9, 9, 9, 9, 9, 41, 41, 41, 41, 41, 46, 46, 46, 46, 46, 46, 7, 7, 7, 7, 7, 7, 21, 21, 21, 21, 21, 40, 40, 40, 40, 40, 29, 29, 29, 29, 29, 29, 18, 18, 18, 18, 18, 18, 2, 2, 2, 2, 2, 47, 47, 47, 47, 47, 38, 38, 38, 38, 38, 8, 8, 8, 8, 8, 6, 6, 6, 6, 6, 33, 33, 33, 33, 33, 33, 37, 37, 37, 37, 37, 37, 43, 43, 43, 43, 43, 43, 25, 25, 25, 25, 25, 23, 23, 23, 23, 23, 23, 19, 19, 19, 19, 19, 19, 49, 49, 49, 49, 49, 49, 22, 22, 22, 22, 22, 22, 16, 16, 16, 16, 16, 16, 32, 32, 32, 32, 32, 5, 5, 5, 5, 5, 36, 36, 36, 36, 36, 36, 39, 39, 39, 39, 39, 26, 26, 26, 26, 26, 26, 4, 4, 4, 4, 4, 4, 24, 24, 24, 24, 24, 24, 30, 30, 30, 30, 30, 30, 14, 14, 14, 14, 14, 14, 11, 11, 11, 11, 11, 48, 48, 48, 48, 48, 48, 28, 28, 28, 28, 28, 10, 10, 10, 10, 10, 31, 31, 31, 31, 31, 42, 42, 42, 42, 42, 42, 15, 15, 15, 15, 15, 15], [0, 1, 2, 3, 4, 5, 4, 2, 3, 1, 5, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 4, 2, 3, 1, 5, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 4, 2, 3, 1, 5, 4, 2, 3, 1, 5, 4, 2, 3, 1, 5, 4, 2, 3, 1, 5, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 4, 2, 3, 1, 5, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 4, 2, 3, 1, 5, 4, 2, 3, 1, 5, 4, 2, 3, 1, 5, 0, 4, 2, 3, 1, 5, 0]])

In [ ]:
def find_differences(bbg_df, quandl_df, csv_file_path=None):
    """
    prints or saves to csv the differences between two timeseries files.
    :param bbg_df: pandas Dataframe object
    :param quandl_df: pandas Dataframe object
    :param csv_file_path: path to save the output csv file (default=None)
    If csv_file_path is not None, will save the output to a csv file.
    :return: None.
    for each ticker find the start date of data from both sources,
    and prints True/False if prices series match since the common start date.
    Compare (BBG 'price' to quandl 'close price')
    CSV output example:
    
        Ticker, Quantle Start Date, BBG Start Date, Match since common start date?
        DOC US Equity ,2000-01-01, 1990-01-01, True
        ABO US Equity ,1999-01-01, 1990-01-01, False
        ...
        ...
        ...
        ABO US Equity ,1999-01-01, 1990-01-01, False
    
    """
    
    
    result = ""
    
    # save csv if file path was specified:
    if csv_file_path:
        csv_file = open(csv_file_path, 'w')
        csv_file.write(result)
        csv_file.close()
    
    print result

In [ ]:
if __name__=="__main__":
    bbg_df = pd.read_csv("bbg_data2.csv", header=[0,1], index_col=0)
    quandl_df = pd.read_csv("quantl_data2.csv", header=[0,1], index_col=0)
    find_differences(bbg_df, quandl_df, "output.csv")

In [ ]:
def plot_dr_ratio(portfolio_index, dr):
    """
    :param portfolio_index: pandas Dataframe object of the portfolio index
    :param dr: pandas Dataframe object of the DR ratio
    """
    
    # do your magic here
    plt.show()

In [ ]:
def rolling_dr_ratio(df, rolling_window_size=200):
    """
    calculates and plots the dr ratio.
    
    :param df: the dataframe contains the daily total return price change, the weights and the portfolio index.
    :param rolling_window_size: default to 200 days.
    :return: None.
    """
    # some tests

    # calculate the rolling DR ratio
    # dr = ...

    # plot index and the rolling dr
    plot_dr_ratio(df["Portfolio_Index"], dr)

In [ ]:
if __name__=="__main__":
    df = pd.read_csv("dr.csv", index_col=0, header=[0,1], parse_dates=0)
    rolling_dr_ratio(df)